.page-error {
    max-width: 1100px;
    margin: 10% auto 0;
    text-align: center;
    
}
.page-error__title {
    font-size: 36px;
    font-family: $font-bodoni;
    font-weight: 400;
}
.page-error__subtitle {
    font-size: 28px;
    font-family: $font-bodoni;
    font-weight: 400;
}